# track a file
git log --follow -p -- diffExprPlots.rmd
git checkout 7dec9c1ae8f302a4e96206364446c53cdffbc5d1
#undo last commit
# git config --global alias.undo-commit 'reset --soft HEAD^'
# git undo-commit
#checkout specific file/commit
# git log --graph #find <sha>
# checkout <sha> file
#[dockerImage](https://github.com/animesh/scripts/blob/master/Dockerfile):
# docker.io/animesh1977/scripts
#[aliases](https://youtu.be/f-Br8cud2eI?t=1918)
# rebase
# beflog
# stash
# bisect
# merge
# push --force-with-lease
#ignore file-mode change:
# git config core.fileMode false
#ignore MS/DOS endings (on windows machines):
# git config --global core.autocrlf true
#config setup
# git clone http://github.com/animesh/scripts
# cd scripts
# ln -s $PWD/config.bash $HOME/.bashrc
# ln -s $PWD/config.i3 $HOME/.config/i3/config
# ln -s $PWD/config.screen  $HOME/.screenrc
# ln -s $PWD/config.vim $HOME/.vimrc
#atom-backup
# apm list --installed --bare > $PWD/config-packages.atom
# cp $HOME/.atom/config.cson $PWD/config.atom
#atom-install
# cd scripts
# cd $HOME/AppData/Local/atom-nightly/bin/
# apm-nightly install --packages-file config-packages.atom
# cp config.atom $HOME/.atom/config.cson
*
!*.*
.Rproj.user
*.pdf
*.asv
*.csv
*.txt
*.history
*.Rhistory
*swp
*fa
Homo*
*sam
*bam
*gz
*tsv
.vscode
*png
*xlsx
*zip
*gmt
*fasta
*fastq
*fq
*npy
*qs
*rds
*out
*pickle
*pkl
.ipynb_checkpoints
*.exe
*.dll
*.key
*.def
*.so
*.lib
*.jpg
*.json
*.rda
*.db
core.*
rtmodel.*
*.results
*.fas
*log
